/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 6 version
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: black;
}

body {
  background: url(../img/nyc.jpg) no-repeat center center fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font-family: "Times New Roman", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: white;
  -ms-overflow-style: none;
  overflow-y: auto;
  overflow-x: hidden;
}

h1 {
  margin: 0 auto 20px;
}

a {
  color: #e02833;
  text-decoration: none;
}

a:hover, a:focus {
  /*lets the mouse appear as a hand when hovering over button*/
  cursor: pointer;
  /*changes opacity of pointer to 80% when hovering over button*/
  opacity: 0.8;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/*class selectors*/
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #447bbe;
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  margin-top: 10px;
}

.button:hover,
.button:focus {
  /*lets the mouse appear as a hand when hovering over button*/
  cursor: pointer;
  /*changes opacity of pointer to 80% when hovering over button*/
  opacity: 0.8;
}

.logo {
  width: auto;
  height: 50px;
}

.profile {
  max-width: 600px;
  margin-top: 10%;
  margin-left: 50%;
  text-align: center;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
  margin-right: 10%;
}

.navigation-list {
  list-style-type: none;
  /*margin-right: 40px;*/
}

 .navigation-list li {
   display:inline-block;
   margin-left: 25px;
 }

 .navigation-list__item {
   text-decoration: none;
 }

.footer-container {
  display: block;
  margin: 0 auto 10px;
  background-color: rgba(68, 123, 190, 0.85);
  color: #e7e7e7;
  height: 95px;
  border-radius: 50%
}

 .page-footer__icon-list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   width: 100%;
   padding: 0 20px;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   list-style-type: none;
   height: 56.693px;
 }

 .page-footer__icon-list li {
   display: inline-block;
   margin: 0 10px;
   border-radius: 50%;
 }

 .page-footer__item:hover, .page-footer__item:focus {
   cursor: pointer;
   opacity: 0.8;
 }

 .about-me {
   margin-top: 50px;
   margin-left: 35%;
   text-align: center;
 }

 .about-list {
   list-style-type: none;
   padding: 0;
 }

 .contact {
   margin-left: 50%;
   margin-top: 5%;
   display: -ms-grid;
   display: grid;
   width: 35%;
   -ms-grid-columns: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr;
 }

 .contact-title {
   -ms-grid-column: 1;
       grid-column-start: 1;
   -ms-grid-column-span:3;
   grid-column-end:4;
 }

 .contact-form {
   text-align: right;
   grid-column: 2 / -1;
 }

 .message_label {
     vertical-align: top;
 }

 .grid {
   width: 60%;
   margin: 0 auto;
   text-align: center;
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 20px;
 }

 .grid__item {
   border-radius: 25%;
   background-color: rgba(0, 0, 0, .75);
 }

/*responsiveness settings*/
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
    width: 100%;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
  .profile {
    margin-left: 0;
  }
  .about-me {
    margin-left: 0;
  }
  .contact {
    margin-left: 0;
  }
  .page-header {
    height: auto;
  }
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .spiderman {
    visibility: hidden;
  }

  .web {
    visibility: hidden;
  }
}

@media all and (min-width: 500px) and (max-width:900px) {
  .grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

/*shooting star animation begin*/
@-webkit-keyframes starAnimation
{
    from {
        left: -100px;
        top: -10px;
    }
    to {
        left: 100%;
    }
}
@keyframes starAnimation
{
    from {
        left: -100px;
        top: -10px;
    }
    to {
        left: 100%;
    }
}

.star{
  position:fixed;
  left:0px;
  top:50px;
  width:1px;
  height:1px;
  background-color:white;
  position:fixed;
  -webkit-animation-name:starAnimation;
          animation-name:starAnimation;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.star::before{
  position:absolute;
  display:block;
  content:"";
  width:100px;
  right:1px;
  top:0px;
  height:1px;
}
.star-1{
  -webkit-animation-duration:7s;
          animation-duration:7s;
  top:40%;
}
.star-2{
  -webkit-animation-duration:5s;
          animation-duration:5s;
  top:45%;
}
.star-3{
  -webkit-animation-duration:8s;
          animation-duration:8s;
  top:50%;
}

.star-4{
  -webkit-animation-duration:4s;
          animation-duration:4s;
  top:55%;
}

.star-5{
  -webkit-animation-duration:10s;
          animation-duration:10s;
  top:60%;
}

.star-6{
  -webkit-animation-duration:13s;
          animation-duration:13s;
  top:65%;
}

.star-7{
  -webkit-animation-duration:2s;
          animation-duration:2s;
  top:70%;
}

.star-8{
  -webkit-animation-duration:8s;
          animation-duration:8s;
  top:75%;
}
/*shooting star animation end*/
/* start web animation*/
.web {
  position: fixed;
  top: 55px;
  left: 185px;
  width:1px;
  background-color: gray;
  -webkit-animation: increase 9s;
          animation: increase 9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes increase {
    0% {
      height: 39px;
    }
    100% {
        height: 350px;
    }
}

@keyframes increase {
    0% {
      height: 39px;
    }
    100% {
        height: 350px;
    }
}
/*end web starAnimation
/*start spiderman animation*/
@-webkit-keyframes spiderManAnimation {
  from {
      left: 160px;
      top: 55px;
  }
  to {
      left: 160px;
      top: 350px;
  }
}
@keyframes spiderManAnimation {
  from {
      left: 160px;
      top: 55px;
  }
  to {
      left: 160px;
      top: 350px;
  }
}

.spiderman {
  display: block;
  width: 50px;
  height: auto;
  top: 55px;
  left: 161px;
  position: fixed;
  -webkit-animation-name: spiderManAnimation;
          animation-name: spiderManAnimation;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}
/*end spiderman animation*/
